@font-face {
    font-family: 'Bitcoin-Lightning-Logo';
    src: url('fonts/Bitcoin-Lightning-Logo.eot?gvwlky');
    src: url('fonts/Bitcoin-Lightning-Logo.eot?gvwlky#iefix') format('embedded-opentype'), url('fonts/Bitcoin-Lightning-Logo.ttf?gvwlky') format('truetype'), url('fonts/Bitcoin-Lightning-Logo.woff?gvwlky') format('woff'), url('fonts/Bitcoin-Lightning-Logo.svg?gvwlky#Bitcoin-Lightning-Logo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Bitcoin-Lightning-Logo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xs {
    font-size: .75em;
}

.icon-sm {
    font-size: .875em;
}

.icon-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em;
}

.icon-2x {
    font-size: 2em;
}

.icon-3x {
    font-size: 3em;
}

.icon-5x {
    font-size: 5em;
}

.icon-7x {
    font-size: 7em;
}

.icon-Bitcoin-Lightning-Gold:before {
    content: "\e900";
    color: #f2a900;
}

.icon-Bitcoin-Lightning-Gray:before {
    content: "\e900";
    color: #6c757d;
}

.icon-Bitcoin-Lightning-White:before {
    content: "\e900";
    color: white;
}

.icon-Bitcoin-Lightning-White-Gold-Rounded:before {
    border-radius: 50% !important;
    padding: .5rem !important;
    content: "\e900";
    color: #f2a900;
    background-color: white;
}

.icon-Bitcoin-Lightning-Gold-White-Rounded:before {
    border-radius: 50% !important;
    padding: .5rem !important;
    content: "\e900";
    color: white;
    background-color: #f2a900;
}

.icon-Bitcoin-Lightning-Gray-White-Rounded:before {
    border-radius: 50% !important;
    padding: .5rem !important;
    content: "\e900";
    color: white;
    background-color: #6c757d;
}
